.features {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
      padding: 3rem 2rem;
      background: #fff;
      outline: $outline;
      outline-offset: -1rem;
      text-align: center;
      box-shadow: $box-shadow;

      &:hover {
        outline: $outline-hover;
        outline-offset: 0rem;
      }

      img {
        margin: 1rem 0;
        height: 15rem;
      }

      h3 {
        font-size: 2.5rem;
        line-height: 1.8;
        color: $black;
      }

      p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: $light-color;
        padding: 1rem 0;
      }
    }
  }
}
