.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../image/banner-bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;

  .content {
    text-align: center;
    width: 60rem;

    h3 {
      color: $black;
      font-size: 3rem;

      span {
        color: $orange;
      }
    }

    p {
      color: $light-color;
      font-size: 1.7rem;
      padding: 1rem 0;
      line-height: 1.8;
    }
  }
}
